.shopping-cart-container{
    background-color: rgba(0, 0, 0, 0.8);
    width: 100vw;
    height:292%;
    position: absolute;
    top: 0;
    justify-content: center;
    align-items: center;
    display: none;
}

#shopping-cart-content{
    min-height: 500px;
    width: 1000px;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    margin-left: 49rem;
    margin-top: 20rem;
    position: fixed;
}

#close-shopping-cart{
    padding: 10px;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    background-color:  #783c9d;
    border: 3px solid white;
    position: absolute;
    top: -25px;
    left: -30px;
    cursor: pointer;
}

#close-shopping-cart div{
    text-align: center;
    font-size: 1.6rem;
    color: white;
}

#shopping-cart-text{
    color: #783c9d;
    font-size: 4rem;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: .05rem;
}

.shopping-cart-list{
    display: grid;
    grid-template-rows: repeat(auto, 1fr);
    
}

.cart-list-item{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    margin-left: 0;
    font-size: 2rem;
    margin-bottom: 10px;
    background-color: #783c9d;
    padding: 10px;
    border-radius: 5px;
    color: white;
    letter-spacing: .1rem;
    
}
.cart-remove-btn{
    padding: 5px;
    background-color: #903838;
    border-radius: 5px;
    border: none;
    margin-top: 5px;
    color: white;
    font-size: 1.2rem; 
    width: 70px;
    border: .05rem solid white;
    letter-spacing: .03rem;
}



#cart-info{
    margin-bottom: 50px;
}

#clearBtn{
    height: 60px;
    width: 90px;
    padding: 5px;
    background-color: #903838;
    border-radius: 5px;
    border: none;
    margin-top: 5px;
    color: white;
    font-size: 1.2rem; 
    width: 70px;
}

.cart-product-price{
    margin-left: 2rem;
}


#total{
    margin-top: 2rem;
    letter-spacing: .1rem;
}



